.nav-bar {
    padding: 0 2vw;
    img {
        object-fit: cover;
    }

    ul li button {
        background-color: transparent;
        border: none;
        padding: 10px 15px;
        color: #fff;
        font-size: 18px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        &:hover {
            background-color: rgba(27, 27, 27, 0.404);
        }
        span {
            margin-right: 5px;
            display: flex;
            align-items: center;
        }
    }
}
